<!doctype html>
<html lang="en" ng-app="carOffersApp" data-framework="firebase">

<head>
	<meta charset="utf-8">
	<title>Car Offers</title>
	<link rel="stylesheet" href="./modules/todomvc-common/base.css">
	<link rel="stylesheet" href="./modules/todomvc-app-css/index.css">
	<link rel="stylesheet" href="./modules/todomvc-app-css/bootstrap.css">
	<link rel="stylesheet" href="./modules/todomvc-app-css/sb-admin-2.css">
	<link rel="stylesheet" href="./modules/todomvc-app-css/ng-table.min.css">
	<style>
		[ng-cloak] {
			display: none;
		}
	</style>
</head>

<body>
	<section ng-controller="MainController" ng-cloak>
		<div class="loading" ng-if="loading">Loading&#8230;</div>

		<div id="page-wrapper" style="min-height: 1000px;">


			<div class="row">
				<div class="col-lg-6">
					<h3 class="page-header">Arama</h1>
						<table ng-table="tableParam" class="table table-condensed table-bordered table-striped" show-filter="true">
						    <tr ng-repeat="offer in $data">
								<td title="'Marka'" filter="{ Brand: 'text'}">{{offer.brand}}</td>
								<td title="'Model'" filter="{ model: 'text'}">{{offer.model}}</td>
								<td title="'Paket'">{{offer.package}}</td>
								<td title="'Yıl'">{{offer.model}}</td>
								<td title="'Şehir'">{{offer.city}}</td>
						        <td title="'Satıcı'">{{offer.dealer}}</td>
						        <td title="'Fiyat'">{{offer.price}}</td>
								<td title="'Tarih'">{{offer.date}}</td>
						    </tr>
						</table>
				</div>

				<div class="col-lg-6">
					<h3 class="page-header">Teklif Gir</h1>

						<div class="panel panel-default">
                        <div class="panel-heading">
                            Teklif Detayları
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form role="form">


										<div class="row">
											<div class="col-lg-6">
												<label>Marka</label>
												<input ng-model="newOffer.brand" class="form-control" placeholder="BMW">
											</div>
											<div class="col-lg-6">
												<label>Model</label>
												<input ng-model="newOffer.model" class="form-control" placeholder="3.20 D">
											</div>
										</div>

										<div class="row mt-20">
											<div class="col-lg-6">
												<label>Paket İsmi</label>
												<input ng-model="newOffer.package" class="form-control" placeholder="M Paket">
											</div>
											<div class="col-lg-6">
												<label>Model Yılı</label>
												<input ng-model="newOffer.modelYear" class="form-control" placeholder="2017">
											</div>
										</div>

										<div class="row mt-20">
											<div class="col-lg-12">
												<label>Opsiyonlar</label>
												<textarea ng-model="newOffer.optinals" class="form-control" rows="3" placeholder="sunroof, led stoplar vs..."></textarea>
											</div>
										</div>

										<div class="row mt-20">
											<div class="col-lg-6">
												<label>Şehir</label>
												<input ng-model="newOffer.city" class="form-control" placeholder="İstanbul">
											</div>
											<div class="col-lg-6">
												<label>Bayi İsmi</label>
												<input ng-model="newOffer.dealer" class="form-control" placeholder="Borusan İstinye">
											</div>
										</div>

										<div class="row mt-20">
											<div class="col-lg-12">
												<label>Paylaşmak istediğiniz ek bilgiler</label>
												<textarea ng-model="newOffer.additional" class="form-control" rows="3" placeholder=""></textarea>
											</div>
										</div>

										<div class="row mt-20">
											<div class="col-lg-12">
												<label>Fiyat</label>
												<input ng-model="newOffer.price" class="form-control" rows="3" placeholder="100.000"></textarea>
											</div>
										</div>

										<div class="row mt-20">
											<div class="col-lg-12">
												<label>Tarih</label>
												<input ng-model="newOffer.date" class="form-control" rows="3" placeholder="01/05/17"></textarea>
											</div>
										</div>

										<div class="row mt-20">
											<div class="col-lg-12">
												<button type="submit" ng-click="addOffer()" class="btn btn-default">Ekle</button>
											</div>
										</div>
                                    </form>
                                </div>


                            </div>
                        </div>
                    </div>
				</div>

            </div>

        </div>


		</section>

		<script src="https://cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
		<script src="./modules/todomvc-common/base.js"></script>
		<script src="./modules/angular/angular.js"></script>
		<script src="./modules/angularfire/dist/angularfire.js"></script>
		<script src="./modules/ng-table/ng-table.min.js"></script>
		<script src="./js/app.js"></script>
		<script src="./js/controllers/main.controller.js"></script>
	</body>
</html>
