<!doctype html>
<html lang="en" ng-app="carOffersApp" data-framework="firebase">

<head>
	<meta charset="utf-8">
	<title>Car Offers</title>
	<link rel="stylesheet" href="./modules/todomvc-common/base.css">
	<link rel="stylesheet" href="./modules/todomvc-app-css/index.css">
	<link rel="stylesheet" href="./modules/todomvc-app-css/bootstrap.css">
	<link rel="stylesheet" href="./modules/todomvc-app-css/sb-admin-2.css">
	<link rel="stylesheet" href="./modules/todomvc-app-css/ng-table.min.css">
	<style>
		[ng-cloak] {
			display: none;
		}
	</style>
</head>

<body>
	<section ng-controller="MainController" ng-cloak>
		<div class="loading" ng-if="loading">Loading</div>

		<div id="page-wrapper" style="min-height: 1000px;">


			<div class="row">
				<div class="col-lg-6">
					<h3 class="page-header">Arama</h1>
						<table ng-table="tableParam" class="table table-condensed table-bordered table-striped" show-filter="true">
						    <tr ng-repeat="offer in $data">
								<td title="'Marka'" filter="{ brand: 'text'}">{{offer.brand}}</td>
								<td title="'Model'" filter="{ model: 'text'}">{{offer.model}}</td>
								<td title="'Paket'">{{offer.package}}</td>
								<td title="'Yıl'">{{offer.model}}</td>
								<td title="'Şehir'">{{offer.city}}</td>
						        <td title="'Satıcı'">{{offer.dealer}}</td>
						        <td title="'Fiyat'">{{offer.price}}</td>
								<td title="'Tarih'">{{offer.date}}</td>
						    </tr>
						</table>
				</div>

				<div class="col-lg-6">
					<h3 class="page-header">Teklif Gir</h1>

						<div class="panel panel-default">
                        <div class="panel-heading">
                            Teklif Detayları
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form name="offerForm">

										<div class="row">
											<div class="col-lg-6">
												<div class="form-group"  ng-class="{ 'has-error': (offerForm.brand.$invalid && offerForm.brand.$touched)}">
													<label>Marka</label>
													<input ng-model="newOffer.brand" class="form-control" placeholder="BMW" name="brand"  required ng-minlength="1" ng-maxlength="40">
													<div class="invalid-message-half-column" ng-show="offerForm.brand.$error.required && offerForm.brand.$touched">
														<label class="control-label">Marka Girilmesi Zorunludur</label>
													</div>
													<div class="invalid-message-half-column" ng-show="(offerForm.brand.$error.maxlength || offerForm.brand.$error.minlength) && offerForm.brand.$touched ">
														<label class="control-label">Marka 40 karaktere kadar olabilir</label>
													</div>
												</div>
											</div>

											<div class="col-lg-6">
												<div class="form-group"  ng-class="{ 'has-error': (offerForm.model.$invalid && offerForm.model.$touched)}">
													<label>Model</label>
													<input ng-model="newOffer.model" class="form-control" name="model" placeholder="3.20ied" required ng-minlength="1" ng-maxlength="50">

													<div class="invalid-message-half-column" ng-show="offerForm.model.$error.required && offerForm.model.$touched">
														<label class="control-label">Model Girilmesi Zorunludur</label>
													</div>
													<div class="invalid-message-half-column" ng-show="(offerForm.model.$error.maxlength || offerForm.model.$error.minlength) && offerForm.model.$touched ">
														<label class="control-label">Model 40 karaktere kadar olabilir</label>
													</div>

												</div>
											</div>
										</div>

										<div class="row mt-20">
											<div class="col-lg-6">
												<div class="form-group"  ng-class="{ 'has-error': (offerForm.package.$invalid && offerForm.package.$touched)}">
													<label>Paket İsmi</label>
													<input name="package" ng-model="newOffer.package" class="form-control" required placeholder="M Plus" ng-maxlength="50">

													<div class="invalid-message-half-column" ng-show="offerForm.package.$error.required && offerForm.package.$touched">
														<label class="control-label">Paket Girilmesi Zorunludur</label>
													</div>
													<div class="invalid-message-half-column" ng-show="(offerForm.package.$error.maxlength) && offerForm.package.$touched ">
														<label class="control-label">Paket 40 karaktere kadar olabilir</label>
													</div>
												</div>

											</div>
											<div class="col-lg-6">
												<div class="form-group"  ng-class="{ 'has-error': (offerForm.modelYear.$invalid && offerForm.modelYear.$touched)}">
													<label>Model Yılı</label>
													<input name="modelYear" ng-model="newOffer.modelYear" class="form-control" placeholder="2016" ng-maxlength="6">

													<div class="invalid-message-half-column" ng-show="(offerForm.package.$error.modelYear) && offerForm.package.$touched ">
														<label class="control-label">Paket 40 karaktere kadar olabilir</label>
													</div>
												</div>
											</div>
										</div>

										<div class="row mt-20">
											<div class="col-lg-12">
												<div class="form-group"></div>
												<label>Opsiyonlar</label>
												<textarea name="optinals" ng-model="newOffer.optinals" class="form-control" rows="3" placeholder="sunroof, led stoplar, elektrikli koltuklar vs..."></textarea>
											</div>
										</div>

										<div class="row mt-20">
											<div class="col-lg-6">
												<div class="form-group"  ng-class="{ 'has-error': (offerForm.city.$invalid && offerForm.city.$touched)}">
													<label>Şehir</label>
													<input name="city" ng-model="newOffer.city" class="form-control" placeholder="İstanbul" required ng-minlength="1" ng-maxlength="50">

													<div class="invalid-message-half-column" ng-show="offerForm.city.$error.required && offerForm.city.$touched">
														<label class="control-label">Şehir Girilmesi Zorunludur</label>
													</div>
													<div class="invalid-message-half-column" ng-show="(offerForm.city.$error.maxlength || offerForm.city.$error.minlength) && offerForm.city.$touched ">
														<label class="control-label">Şehir 50 karaktere kadar olabilir</label>
													</div>
												</div>

											</div>
											<div class="col-lg-6">
												<div class="form-group"  ng-class="{ 'has-error': (offerForm.dealer.$invalid && offerForm.dealer.$touched)}">

													<label>Bayi İsmi</label>
													<input name="dealer" ng-model="newOffer.dealer" class="form-control" placeholder="Borusan İstinye" required ng-minlength="1" ng-maxlength="50">

													<div class="invalid-message-half-column" ng-show="offerForm.dealer.$error.required && offerForm.dealer.$touched">
														<label class="control-label">Bayi İsmi  Girilmesi Zorunludur</label>
													</div>
													<div class="invalid-message-half-column" ng-show="(offerForm.dealer.$error.maxlength || offerForm.dealer.$error.minlength) && offerForm.dealer.$touched ">
														<label class="control-label">Bayi İsmi 50 karaktere kadar olabilir</label>
													</div>
												</div>

											</div>
										</div>

										<div class="row mt-20">
											<div class="col-lg-12">
												<div class="form-group"></div>
												<label>Paylaşmak istediğiniz ek bilgiler</label>
												<textarea name="" ng-model="newOffer.additional" class="form-control" rows="3" placeholder=""></textarea>
											</div>
										</div>

										<div class="row mt-20">
											<div class="col-lg-12">
												<div class="form-group"  ng-class="{ 'has-error': (offerForm.price.$invalid && offerForm.price.$touched)}">
													<label>Fiyat</label>
													<input name="price" ng-model="newOffer.price" class="form-control" rows="3" placeholder="190.000" required ng-minlength="1" ng-maxlength="50"></textarea>

													<div class="invalid-message-half-column" ng-show="offerForm.price.$error.required && offerForm.price.$touched">
														<label class="control-label">Fiyat Girilmesi Zorunludur</label>
													</div>
													<div class="invalid-message-half-column" ng-show="(offerForm.price.$error.maxlength || offerForm.price.$error.minlength) && offerForm.price.$touched ">
														<label class="control-label">Fiyat 50 basamaklı olabilir</label>
													</div>
												</div>
											</div>
										</div>

										<div class="row mt-20">
											<div class="col-lg-12">
												<div class="form-group"  ng-class="{ 'has-error': (offerForm.date.$invalid && offerForm.date.$touched)}">
													<label>Tarih</label>
													<input name="date" ng-model="newOffer.date" class="form-control" rows="3" placeholder="01/05/17" required ng-minlength="1" ng-maxlength="50"></textarea>
													<div class="invalid-message-half-column" ng-show="offerForm.date.$error.required && offerForm.date.$touched ">
														<label class="control-label">Tarih girilmeli</label>
													</div>
												</div>

											</div>
										</div>

										<div class="row mt-20">
											<div class="col-lg-12">
												<button type="submit" ng-click="addOffer(offerForm.$invalid)" class="btn btn-default">Ekle</button>
											</div>
										</div>
                                    </form>
                                </div>


                            </div>
                        </div>
                    </div>
				</div>

            </div>

        </div>


		</section>

		<script src="https://cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
		<script src="./modules/todomvc-common/base.js"></script>
		<script src="./modules/angular/angular.js"></script>
		<script src="./modules/angularfire/dist/angularfire.js"></script>
		<script src="./modules/ng-table/ng-table.min.js"></script>
		<script src="./js/app.js"></script>
		<script src="./js/controllers/main.controller.js"></script>
	</body>
</html>
